body {
	font-family: arial, verdana, sans-serif;
	color: rgb(197,121,235);
	padding:10px;
	width: 1000px;
	margin: 0 auto;
}

.page {
	border: 1px solid rgb(75,75,75);
	background-color: rgb(233,233,233);
	padding: 20px;
	text-align: left;
	height: 1200px;
}

.header {
	position: 500px;
	top: -5px;
	left: 0px;
	width: 1000px;
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}

